@charset "utf-8";
/*!
 *
 */

/*全共通----------------------------------------------------*/
body {
	font-size: 15pt;
}
header {
	background-color:#000;
    width: 100%;
}
header #front {
    height: 150px;
    line-height: 150px;
    color: #fff;
    text-align: center;
}
header #hmenu {
	height: 50px;
	line-height: 50px;
	color: #fff;
}
header #hmenu .mimg {
    width: 25px;
    height: auto;
    margin: 0 15px;
}
header #hmenu .title {
    display: inline-block;
    *display: inline;
    zoom: 1;

    width:90%;
}
header #hmenu .etc {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width:10%; float:right; text-align:right;
}
footer {
	background-color:#000;
    width: 100%;
}
/*ハンバーガー(ドロワー)メニュー---------------------------------------------------*/
.tglmenu {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 200;
}
#tglclose{
  display: none;
}
.peke {
  background-position: -35px 0;
}

#drawrmenu {
  display: none;
  background-color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  right: 0;
  width: 260px;
  padding: 0;
  z-index: 100;
  border-left:   solid 1px #c0c0c0;
  border-bottom: solid 1px #c0c0c0;
}
#drawrmenu #personal {
  padding: 50px 10px 10px 50px;
  width: 260px;
  background-color: rgba(0,0,0,0.6);
  background-image: url(../img/tmenu/userbg.png);
  color: #fff;
  border-bottom: solid 5px #4682b4;
}
#drawrmenu #personal p{
  margin: 0 0 10px 0;
}
#drawrmenu #personal .accountname{
    margin-bottom: 0px;
}
#drawrmenu #personal .accountcode{
    font-size: 10pt;
    color: #cccccc;
}
#drawrmenu #menu li {
  width: 280px;
  list-style-type: none;
}
#drawrmenu #menu li a {
  color: #000;
  display: block;
  padding: 15px;
}
#drawrmenu #menu li img {
  margin: 0 10px 0 0;
}
/*トップ画面----------------------------------------------------*/
body#front,
body#caution{
    background-color:#f5f5f5;
}
body#front header img{
    width: 100%;
    height: auto;
}
@media screen and (min-width:480px) {
  body#front header img{
    width: auto;
    padding: 0px;
    max-height: 145px;
  }
}
body#front div#menuarea{
    text-align: center;
}
body#front ul#fmenuicon{
    width: 100%;
    padding: 5%;
    margin: 8% 0%;
}
body#front ul#fmenuicon li {
    display: inline-block;
    list-style-type: none;
    width: 45%;
    padding: 5%;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
}
@media screen and (min-width:768px) {
    body#front ul#fmenuicon{
        width: 60%;
        padding: 0%;
        margin: 0 20%;
    }
    /*PC、タブレットは３列*/
    body#front ul#fmenuicon li {
        width: 30%;
    }
}
body#front ul#fmenuicon li img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/*一覧画面----------------------------------------------------*/
body#list{
	background-color:#000;
}
#onsenlist {
    margin: 0 0 20px 0px;
}
#onsenlist a {
    text-decoration: none;
}
#onsenlist dl{
    background-color:#fff;
    margin: 2% auto;
    padding: 1px;
    width: 90%;
    height: 145px;
    color: #808080;
}
#onsenlist dl:hover {
    background:#f5deb3;
}
#onsenlist dt{
    float:left;
    width:143px;
    height:143px;
    padding: 1px;
}
#onsenlist dd{
    margin: 0px 10px 0px 155px;
    padding: 0px 1px 0px 0px;
    border: 0px;
    text-align: left;
}

#onsenlist dd.name{
    padding-top: 15px;
    height: 40px;
    font-size: 13pt;
}
#onsenlist dd.setsumei{
    padding: 10px 0px;
    height: 60px;
    font-size: 9pt;
    overflow: hidden;
}
#onsenlist dd.btn{
    padding-top: 10px;
    margin-left: 12px; /*画像配置用のleft.margin統一が適用されないのでインデントを合わせる*/
    height: 33px;
}

#onsenlist dd.btn img{
    height: 20px;
    max-width: 100%;
    margin-right: 25px;
}

#onsenlist dd.btn img.noselect {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}
/*-----ソート-------*/

#sortlist {
  overflow: hidden;
  width: 90%;
  margin: 1em auto;
  text-align: center;
}
#sortlist select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
#sortlist select::-ms-expand {
    display: none;
}
#sortlist.sl {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
#sortlist.sl::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
#sortlist.sl select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.sort_comment{
  width: 90%;
  margin: 0% 5%;
  padding: 1% 3% 0% 3%;
  text-align:left;
  background-color:#fff;
}
.sort_comment .title_name{
  text-align: center;
}

/*場所画面----------------------------------------------------*/
body#place{
    background-color:#f5f5f5;
}

/*効能画面----------------------------------------------------*/

body#effect p {
  padding: 5% 0% 0% 5%;
}

body#effect ul a{
  text-decoration: none;
}

body#effect ul#effect {
  padding: 0% 2%;
  text-align: center;
}
body#effect ul#effect li {
  list-style-type: none;
  background: #dcdcdc;
  padding: 0.5em;
  color: #696969;
  border-radius: 0.8em;
  margin: 3% 1% 0% 1%;
  width: 45%;
  display: inline-block;
  text-align: center;
}
body#effect ul#effect li:hover{
  background: #696969;
  color: #dcdcdc;
}
@media screen and (min-width:768px) {
    /*PC、タブレットは３列*/
    body#effect ul#effect li {
        width: 30%;
    }
}
/*注意画面----------------------------------------------------*/
body#caution {
}
body#caution li {
  list-style-type: none;
}

body#caution .how2list {text-align: center; margin: 10px; padding: 0px;}
body#caution .how2list .inner {display: none;}
body#caution .how2list p{cursor: pointer; padding: 10px; margin: 5px;}
body#caution .how2list p.ac1{background: #F50057;}
body#caution .how2list p.ac2{background: #FFEA00;}
body#caution .how2list p.ac3{background: #64DD17;}
body#caution .how2list .inner li{padding: 10px 0;}
body#caution .how2list .inner li.content1-1{background: #dcdcdc;}
body#caution .how2list .inner li.content1-2{background: #FFFFFF;}
body#caution .how2list .inner li.content1-3{background: #dcdcdc;}
body#caution .how2list .inner li.content2-1{background: #FFF59D;}
body#caution .how2list .inner li.content2-2{background: #FFF9C4;}
body#caution .how2list .inner li.content2-3{background: #FFFDE7;}
body#caution .how2list .inner li.content3-1{background: #C5E1A5;}
body#caution .how2list .inner li.content3-2{background: #DCEDC8;}
body#caution .how2list .inner li.content3-3{background: #F1F8E9;}

body#caution_detail h3 {background: #dcdcdc;  padding:2%; }
body#caution_detail #cont{ margin: 0% 2%; background: #fff; }

/*詳細画面----------------------------------------------------*/
body#detail{
    background-color:#f5f5f5;
}

.title{
    /*color: darkgrey;*/
    font-size: 18px;
    /*font-weight: bold;*/
}

/*温泉の名称----------------------------------------------------*/
.spaName{
    color: dimgrey;
    font-size: 36px;
    text-align: center;
    padding: 10px 0%;
}

/*温泉の詳細情報----------------------------------------------------*/
.onsenimg {
  width: 100%;
  text-align: center;
  padding: 20px 0% 0% 0%;
}
@media screen and (max-width:375px) {
  .onsenimg img{
      max-width: 100%;
      height: auto;
  }
}

.detail{
    color: dimgrey;
    font-size: 18px;
    width: 100%;
    padding: 0% 10%;
}
.detail.icon{
    padding-top: 20px;
    padding-bottom: 20px;
}
.detail dl {
    width: 100%;
    background-color: #fff;
}
.detail dt {
  min-height: 24px;
  line-height: 24px;
  
  clear:left;
  width:30%;
  background-color:white;
  
  float:left;
  border-bottom: 3px solid #ccc;
  padding: 0.5em
}
.detail dd {
  min-height: 24px;
  line-height: 24px;
  margin-left: 30%;
  background-color:white;
  border-bottom: 3px solid #ccc;
  padding: 0.5em
}

.onsenplace {
    text-align: center;
    padding: 0% 10%;
}

@media screen and (max-width:768px) {
  .detail.cont,
  .onsenplace{
      padding: 0%;
  }
}
@media screen and (max-width:375px) {
  .onsenplace iframe{
      max-width: 100%;
      height: 280px;
  }
}
/*マップ埋め込み----------------------------------------------------*/
.ggmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#search_form{
}
.search_container{
    position: relative;
    box-sizing: border-box;
    border: 2px solid #696969;
    padding: 3px 10px;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}
@media screen and (min-width:768px) {
    .search_container{
      width: 50%;
  }
}
.search_container input[type="text"]{
    border: none;
    height: 2.0em;
    width: 100%;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    border: none;
    background-image:url("../img/icon/search.png");
    background-size: auto 30px;
    background-repeat:no-repeat;
    background-position:center center;
    background-color:#696969;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 50px;
    right:0px;
    top: 0px;
    outline : none;
}

/*現在地画面----------------------------------------------------*/
#map {
  text-align: center;

}
#map .navi{
    text-align: center;
    border-bottom: 1px solid #f5f5f5; /*背景色と同じ*/
    padding: 2px 0px;
}
.whtplace_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #778899;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #696969;
    border-radius: 3px;
}
.whtplace_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}